body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-image: url("https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
        /* background: linear-gradient(#da9e9e, rgb(209, 119, 119)); */
    color: #DA395B;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 200px;
    border-radius: 5%;
    border: 6px solid #ffffff;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cblanco {
    height: 400px;
}

.gift-img {
    margin: 20px auto;
    max-width: 520px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/feliz-dia-mujer.webp");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/j0d7S4Nn9wQ7xQVder/giphy.gif");
}

#gift-img-hand:hover {
    background-image: url("https://media.giphy.com/media/8cgqFlUYWOdmqmsTbr/giphy.gif");
}

#gift-img-kiss:hover {
    background-image: url("https://media.giphy.com/media/Q2EHFZX0JWnXzp5lZ1/giphy.gif");
    display: flex;
    justify-content: center;
    width: 100%;
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/K1GUCZeqI1PIbIYeZQ/giphy.gif");
}

#gift-img-blanco:hover {
    background-image: url("https://media.giphy.com/media/3ktIXGBcLFY5UVA64s/giphy.gif");
    height: 500px;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
